@import "@fontsource-variable/pixelify-sans";
@import "@fontsource/league-gothic";
@import "@fontsource/instrument-serif";
@import "@fontsource-variable/ibm-plex-sans";

@import "tailwindcss";

@import "./base.css" layer(components);
@import "./blog.css" layer(components);

@layer base {
  :root {
    --font-sans: "Nunito Sans", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";

    --shadow-search: 0 -1px 27px 0 rgba(0, 0, 0, 0.04),
      0 4px 15px 0 rgba(0, 0, 0, 0.08);

    --bg: #eaede7;
    --text: #010313;
    --link: #5c7d35ff;
    --link-hover: #355313ff;
    --font-body: "Lato", sans;
    --font-heading: "Instrument Serif", sans-serif;
  }

  [data-theme="a huge dweeb"] {
    --bg: #0b010e;
    --text: #87c987;
    --link: #86efac;
    --link-hover: #4ade80;
    --font-body: "IBM Plex Mono", monospace;
    --font-heading: "Pixelify Sans Variable", monospace;
  }

  [data-theme="a pharmeteucial jingle writer"] {
    --bg: #ffbb00;
    --text: #060225;
    --link: #d97706;
    --link-hover: #b45309;
    --font-body: "Courier", monospace;
    --font-heading: "League Gothic", monospace;
  }

  [data-theme="a huge dweeb"] body {
    box-shadow: inset 0 0 90px 40px rgba(20, 9, 173, 0.4);
  }

  [data-theme="a true professional"] body {
    box-shadow: inset 0 0 90px 90px rgba(198, 196, 142, 0.4);
  }

  [data-theme="a pharmeteucial jingle writer"] body {
    box-shadow: inset 0 0 90px 90px rgb(255, 237, 100);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--text-main, currentcolor);
  }

  body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-body);
    transition: all 0.3s ease;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    color: var(--link);
  }

  /* Style all links */
  a {
    color: var(--link);
    transition: color 0.2s ease;
  }

  a:hover {
    color: var(--link-hover);
  }

  @layer utilities {
    .shadow-search {
      box-shadow: var(--shadow-search);
    }
  }

  /* Syntax Highlight by Prism */
  /* https://prismjs.com/ */

  /* You can customize the theme of the Prism syntax highlighter below. Adjust colors, backgrounds, and styles as needed for your site. */

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #e5e7eb;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    background: transparent;
  }
}
